@use '../../styles/partials/global.scss' as *;
@use '../../styles/partials/mixins.scss';
@use '../../styles/partials/variables.scss';
@use '../../styles/partials/fonts.scss';

p {
    @include mixins.m-p2;
    margin-top: 0.3rem;

    @include mixins.tablet {
        @include mixins.p2;
        margin-bottom: 0rem;
    }
}

h4 {
    margin: 0rem;
}

.inventory-item-details {
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem;
        border-bottom: solid 1px variables.$Cloud;

        @include mixins.tablet {
            padding: 2rem 2.25rem 2rem 2.25rem;
            margin-top: 0.6rem;
        }

        @include mixins.desktop {
            padding: 1.5rem 2.5rem;
        }
    }

    &__title-arrow {
        display: flex;
    }

    &__title {
        margin: 0rem 0rem 0rem 0.5rem;
    }

    &__edit {
        color: variables.$White;
        border-radius: 50%;
        padding: 0.4rem 0.4rem 0.2rem 0.4rem;
        background-color: variables.$Instock-Indigo;

        @include mixins.tablet {
            margin-left: 40%;
            display: flex;
            border-radius: 20px;
            padding: 0.5rem 0.8rem;
            justify-content: space-between;
            width: 5rem;
        }

        @include mixins.desktop {
            margin-left: 66%;
        }
    }

    &__edit-image {
        filter: brightness(0) invert(1);
    }

    &__edit-word {
        display: none;

        @include mixins.tablet {
            display: contents;
            font-family: 'Titillium-Web', sans-serif;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;

        @include mixins.tablet {
            padding: 1.5rem 2.25rem;
            flex-direction: row;
            align-items: center;
        }

        @include mixins.desktop {
            padding: 1.5rem 2.5rem;
        }
    }

    &__left-section {
        margin-bottom: 0.3rem;

        @include mixins.tablet {
            width: 50%;
            margin-bottom: 0rem;
        }
    }

    &__right-section {

        @include mixins.tablet {
            border-left: solid 1px variables.$Cloud;
            padding-left: 2rem;
        }

        @include mixins.desktop {
            padding-left: 3rem;
        }
    }

    &__description {
        margin-bottom: 1rem;

        @include mixins.tablet {
            width: 90%;
            margin-bottom: 1.7rem;
        }
    }

    &__status-quantity {
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin: 0.7rem 0rem;

        @include mixins.tablet {
            margin-bottom: 1.7rem;
            width: 100%;
        }
    }

    &__status-in-stock {
        @include mixins.status;
        color: variables.$Green;
        background: rgba(21, 132, 99, 0.07);

        @include mixins.tablet {
            inline-size: 4.2rem;
            margin-right: 5rem;
        }

        @include mixins.desktop {
            margin-right: 10rem;
        }
    }

    &__status-out-of-stock {
        @include mixins.status;
        color: variables.$Red;
        background: rgba(201, 69, 21, 0.07);

        @include mixins.tablet {
            inline-size: 5.8rem;
            margin-right: 3.4rem;
        }

        @include mixins.desktop {
            margin-right: 8.4rem;
        }
    }
}

Link {
	display: none;
}
