@use '../../styles/partials/mixins';
@use '../../styles/partials/variables';
@use '../../styles/partials/fonts';
@use '../../styles/partials/global';

.footer {
    
    &__label {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        color: variables.$Slate;
        margin: 0;
        padding: 2rem 0;
        background-color: variables.$Light-Grey;
    }
}