@use './styles/partials/mixins';
@use './styles/partials/variables';
@use './styles/partials/fonts';
@use './styles/partials/global';

.app {

  &__bodywrap { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 13rem);
    background-color: variables.$Light-Grey;

    @include mixins.tablet {
      min-height: calc(100vh - 14rem);
    }  
  }

  &__card {
    margin: -4rem 1rem 0;
    background: variables.$White;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    border-radius: 3px;

    @include mixins.tablet {
      margin: -7.25rem 2rem 0;
    }

    @include mixins.desktop {
      margin: -6.25rem 6rem 0;
    }
  }
}
